<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="refresh" content="">
  <title>Chili Cookoff</title>

  <!-- CSS (load bootstrap from a CDN) -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
  <style>
  body    { padding-top:50px; }

  .ct-label {
    font-size: 18px;
    line-height: 1;
    left: 0px;
    position: relative;
  }

/* Votes */
.ct-series-a .ct-line,
.ct-series-a .ct-bar {
  stroke: red;
  stroke-width: 25px;
  opacity: 0.75;
}

  </style>

</head>


<body class="container">

  <div class="container-fluid" style="color: white; right: 10px; top: 0px; background: rgba(20,20,20,0.75); height: 100%; width: 30%; overflow: auto; position: absolute">
    <div class="" style="line-height: 200%; border-width: 0px 0px 1px 0px; border-color: black; border-style: dotted; padding: 3px">

          <strong>Last updated: <%= moment().format('MMM DD H:mm:ss A') %></strong>

        </div>
    <!-- well pre-scrollable -->
    <% actions.forEach(function(action) { %>

      <div class="" style="line-height: 200%; border-width: 0px 0px 1px 0px; border-color: black; border-style: dotted; padding: 3px">

        <% if (action.action == 'votes' || action.action == 'voted') { %>

          <% if (!data_hidden) { %>
          <%= action.phone.substring(action.phone.length-2) %><%= action.name %>
          <% } %>

          <%= action.action %>

            <% if (!data_hidden) { %>
           <%= action.label %>
           <% } %>

          <% timestamp = action._id.toString().substring(0,8) %>
          <% date = new Date( parseInt( timestamp, 16 ) * 1000 ) %>
          ...<%= moment(date).fromNow() %>

          <% if (!data_hidden) { %>
          <span style="float: right"><%= action.label %></span>
          <% } %>

          <% } else { %>

            <% if (!data_hidden) { %>
            <%= action.phone.substring(action.phone.length-2) %>
            <% } %>
            <%= action.comment %>
                      <% timestamp = action._id.toString().substring(0,8) %>
                      <% date = new Date( parseInt( timestamp, 16 ) * 1000 ) %>
                      ...<%= moment(date).fromNow() %>
                      <% } %>
      </div>
      <% }); %>



  </div>


    <main>
      <div class="jumbotron" style="position: absolute; bottom: 10px; right: 40px">
        <h2>Chili Cook-Off</h2>
        <p>Text to (778) 760-3725 in the following format:<br />
          <span style='color: red; font-weight: bold'>chili##</span> for a chili<br />
          <span style='color: orange;  font-weight: bold'>pie##</span> for a pie<br />
          <span style='color: black;  font-weight: bold'>d##</span> for another desert<br />
          Other texts not in this format will be viewed<br /> as comments but
            will not be counted as votes.
        </p>
      </div>
    </main>

<div class="ct-chart" style="width: 60%; height: 95%; top: 10px; left: 30px; position: absolute" id="chart"></div>


<script>
  function randomInt(minimum, maximum) {
    return Math.floor(Math.random() * (maximum - minimum + 1)) + minimum;
  }
  function compareString(item1, item2) {
    return item1.attr.localeCompare(item2.attr);
  }
  rawdata = <%- JSON.stringify(actions) %>;

  labels_set = {};
  for (var i = 0; i < rawdata.length; i++) {
    if (rawdata[i].label != null) {
      labels_set[rawdata[i].label] = 1;
    }
  }
  labels = Object.keys(labels_set);
  //labels.sort();
  labels_map = {};
  votes = [];
  for (var i =0; i < labels.length; i++) {
    labels_map[labels[i]] = i;
    votes.push(0);
  }
  data = {
    labels: labels,
    series: [
      votes
    ]
  };
  for (var i = 0; i < rawdata.length; i++) {
      if (rawdata[i].action == 'votes') {
        votes[labels_map[rawdata[i].label]]+=1;
      }
  }
  mychart = new Chartist.Bar('#chart', data,
  {
    reverseData: true,
    horizontalBars: true,
    axisX: {
      onlyInteger: true,
      <% if (data_hidden) { %>
        showLabel: false,
      <% } %>
    },
    axisY: {
    <% if (data_hidden) { %>
      showLabel: false,
    <% } %>
    }
  });
  /*
  for (var i = 0; i < rawdata.length; i++) {
    setTimeout(function(i) {
      if (rawdata[i].action == 'votes') {
        votes[labels_map[rawdata[i].label]]+=1;
      }
      if (rawdata[i].action == 'likes') {
        likes[labels_map[rawdata[i].label]]+=1;
      }
      mychart.update();
    }, i * 100, i);
  }
  */
</script>

  </body>
  </html>
