<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="refresh" content="">
  <title>Chili Cookoff</title>

  <!-- CSS (load bootstrap from a CDN) -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

  <style>
  body    { padding-top:50px; }

  </style>

</head>


<body class="container">

  <div class="container-fluid" style="column-count: 2; column-gap: 40px; color: white; left: 10px; top: 0px; background: rgba(20,20,20,0.75); height: 100%; width: 90%; overflow: auto; position: absolute">
    <div class="" style="line-height: 200%; border-width: 0px 0px 1px 0px; border-color: black; border-style: dotted; padding: 3px">

          <strong>Last updated: <%= moment().format('MMM DD H:mm:ss A') %></strong>

        </div>
    <!-- well pre-scrollable -->
    <% actions.forEach(function(action) { %>

      <div class="" style="line-height: 200%; border-width: 0px 0px 1px 0px; border-color: black; border-style: dotted; padding: 3px">

          <%= action.phone %> <%= action.name %> <%= action.action %> <%= action.label %> <%= action.comment ? ' ..."'+action.comment+'"' : '' %>

          <% timestamp = action._id.toString().substring(0,8) %>
          <% date = new Date( parseInt( timestamp, 16 ) * 1000 ) %>
          ...<%= moment(date).fromNow() %>

          <span style="float: right"><%= action.label %></span>
      </div>
      <% }); %>



  </div>



<script>
</script>

  </body>
  </html>
